body {
    font-family: Arial, sans-serif;
    background-image: url("https://cdn.discordapp.com/attachments/1337032578233925692/1457002893260624018/LunorBG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #e0e0e0;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
}

h1, p { color: #fff; }

details {
    border-radius: 6px;
    margin-bottom: 5px;
    background-color: #1f1f1f;
}

summary {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::after {
    content: "▸";
    transition: transform 0.3s ease;
}

details[open] > summary::after {
    transform: rotate(90deg);
}

ul {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

@media (max-width: 768px) {
    body { padding: 10px; font-size: 14px; }
    summary { padding: 8px; font-size: 14px; }
    ul { margin-left: 15px; font-size: 14px; }
}

.auto-farm summary { background-color: #16a085; color: #fff; }
.auto-farming summary { background-color: #1abc9c; color: #fff; }
.bosses summary { background-color: #c0392b; color: #fff; }
.farming-settings summary { background-color: #2980b9; color: #fff; }
.items summary { background-color: #8e44ad; color: #fff; }
.potions summary { background-color: #d35400; color: #fff; }
.selling summary { background-color: #27ae60; color: #fff; }
.race-enhance summary { background-color: #e67e22; color: #fff; }
.teleports summary { background-color: #34495e; color: #fff; }
.misc summary { background-color: #1abc9c; color: #fff; }
.server-webhook summary { background-color: #c0392b; color: #fff; }
.visuals summary { background-color: #8e44ad; color: #fff; }
.configs summary { background-color: #d35400; color: #fff; }

